.classroom-container {
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(224, 223, 230);
  }
  
  .classroom-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 16px;
    padding: 0 50px;
  }
  
  .classroom-card {
    background: #fdfcfd;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    max-height: 340px;
    padding: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
  }
  
  .classroom-img {
    height: 120px;
    width: 160px;
    margin-bottom: 10px;
  }
  
  .classroom-h1 {
    font-size: 2.5rem;
    color: rgb(5, 5, 5);
    margin-top: 64px;
    margin-bottom: 64px;
  }
  
  .classroom-h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .classroom-p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .classroom-profile-btn {
    border-radius: 50px;
    background: rgba(107, 152, 221, 0.918);
    white-space: nowrap;
    padding: 6px 20px;
    color: #010606;
    font-size: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
  }
  
  .btn-link {
    text-decoration: none;
    color: #010606;
  }
  